@import "../../../styles";

:host {
  position: fixed;
  width: 20vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 8fr 1fr;
}
app-page-title {
  background-color: $color-down-sidebar;
}

app-sidebar-menu {
  background-color: $color-down-sidebar;
}

app-sidebar-panel {
  background-color: $color-down-sidebar;
}
