<div class="down-sidebar-container">
  <app-circle-button btnColor="'download-button"
                     description="Create"
                     icon="./assets/img/icons/edit.png"
                     routerLinkActive="active-link"
                     routerLink="page-create">

  </app-circle-button>

  <app-circle-button urlValue="./assets/pdf/someExamplePdf.pdf"
                     btnColor="'download-button"
                     description="Download all PDF"
                     icon="./assets/img/icons/download.png" (click)="downloadMyFile()">
  </app-circle-button>
</div>

