@import "../../../../../styles";

.footer {
  position: fixed;
  bottom: 0;
  width: 70vw;
  background-color: white;
  border-top: solid 1px $color-border-spacer;
  border-bottom: solid 1px $color-border-spacer;
  height: 10vh;
  display: grid;
  grid-template-columns: 50% 50%;

  button {
    border: none;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    margin: 30px;
  }

  .previous {
    float: left;
  }

  .next {
    float: right;
  }
  .hide {
    overflow: hidden;
  }

  button:hover {
    background-color: #858d85;
    color: white;
  }
}
