button {
  justify-content: center;
  color: white;
  border: solid gray 1px;
  img{
    width: 100%;
    height: 60%;
  }
}
button:hover{
  background-color: gold !important;
}

.edit {
  background-color: #4CBB17;
}

.download {
  background-color: orange;
}
