@import "src/styles";

.form-container{
  margin-left: 5vw;
  width: 50vw;

  form{
    justify-content: center;
    justify-content: center;
    margin:50px 0 0 150px;
    padding: 50px 0 50px 100px;
    border: solid 1px $color-border-spacer;
  }
}

.button-container{
  display: flex;
  margin-left: 300px;
}
